body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}

.header{
  font-family: 'Shojumaru', cursive;
}

.app{
  &__header{
    margin: 40px auto;
    text-align: center;
  }

  &__settings-section{
    text-align: center;
  }
}

.distribution{
  margin-bottom: 40px;
}

.attributes{
  form{
    margin-bottom: 0;
  }
  &__render{
    i{
      padding-left: 10px;
    }
  }
}

.grid{
  text-align: center;

  &__graphical{
    margin: 20px auto;
  }
  &__array{
    font-weight: 900;
    font-size: 1.2em;
  }
  &__column{
    display: inline-block;
    text-align: center;
  }
  &__block {
    background-color: #33b5e5;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    margin: 1px;
  }
}